[Desktop Entry]
Version=1.0
Name=Config
Exec= sh -c '/home/"$USER"/Desktop/script/tunear.sh'
Icon=/usr/share/icons/ePapirus-Dark/48x48/apps/configurator.svg
Terminal=false
Type=Application
Categories=Application;
Comment=
Path=/
StartupNotify=false
