[Desktop Entry]
Version=1.0
Name=Instagram
Exec=firefox https://www.instagram.com/
Icon=chrome-akpamiohjfcnimfljfndmaldlcfphjmp-Default
Terminal=false
Type=Application
Categories=Application;
Comment=IG
Path=
StartupNotify=false
